 body { background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}

li {
    float: left;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li {
    background-color: green;
}


li {
  display: inline;
}

h1 { 
    
    font-size: 50px;
   
}
h2 {  text-align: center;
}
.hobbies { 
  text-align: center;
}

h4 { font-size: 50px;
     text-align: center;
}
